<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script>
    function submit() {
        event.preventDefault();
        alert("Login button clicked!");
        axios.post('/authenticateUser', {
            username: document.getElementById('username').value,
            password: document.getElementById('password').value
        }).then(function (response) {
            console.log(response);
            if(response.data === "true") {
                alert("Login successful!");
                window.location.href = '/home';
            } else {
                alert("Invalid credentials!");
                return;
            }
        }).catch(function (error) {
            console.log(error);
            alert("Login failed!");
        });
    }
    </script>
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <div class="login-container">
    <h2>Login</h2>

    <!-- Error message -->
    <div th:if="${param.error}" class="error">
        Invalid username or password
    </div>

    <!-- Logout message -->
    <div th:if="${param.logout}" style="color:green; text-align:center;">
        You have been logged out
    </div>

    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>
</html>